/* Add CSS Styling */
.odd {
  background-color: #FFA8B5;
    font-family: Verdana, sans-serif,  "DejaVu Sans"; 
}
#blueid {
   color:#0000FF;
   font-size: 36px;
}
.odd three {
font-size: 24px;
}
#greenid {
background-color:#90EE90;
font-size: 24px;
font-weight: bold;
}