body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

}

.content {
  background: #e3f4ff;
  font-size: 16px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 15px;

}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align: center;
  margin: 10px;
  padding-top: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}